/* Extra small devices (portrait phones, less than 576px) is the default */
#m_game {
    /*font-family: "Times New Roman", Times, serif;*/
    /*font-style: italic;*/
    /*font-weight: bold;*/
    /*font-size: 10px;*/
    width: 100%;
    padding-top: 75%; /* 4:3 Aspect Ratio */
    
    background-image: url('/resources/jpg/dark_pattern256x256.jpg');
    background-repeat: repeat;
    background-size: auto;
}

#m_game button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 10px;
    
    background-color: #808080aa;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 0.6em;
    color: lightyellow;
    cursor: pointer;
}

#m_game button:disabled {
    color: darkgrey;
    background-color: transparent;
}

#m_game button:active {
    color: #ffffa0;
    background-color: #929292e0;
}

#m_game button:enabled:hover {
    color: #ffffb0;
    background-color: #888888dd;
}

.placeholder {
    background-color:darkslateblue;
    background-image: url('/resources/svg/cards.svg');
    background-size: 800% 800%;
    background-repeat: no-repeat;
    
    /* border: 2px solid rgb(64, 64, 64); */
    border-radius: 8.333% / 6.25%;
    opacity: 0.8;
    /*box-shadow: inset 2px 2px 5px 2px black;*/
}
.pile {
    background-position: 14.286% 100%;
}
.base.spades {
    background-position: 57.143% 85.714%;
}
.base.diamonds {
    background-position: 71.429% 85.714%;
}
.base.clubs {
    background-position: 85.714% 85.714%;
}

.base.hearts {
    background-position: 100% 85.714%;
}

.cell {
    background-color:darkred;
    background-position: 0% 100%;
}

.card {
    /*opacity: 0.85;*/
    transition-property: left, top;
    
    background-color: antiquewhite;
    background-image: url('/resources/svg/cards.svg');
    background-size: 800% 800%;
    background-repeat: no-repeat;
    /*
    background-image: url('/resources/svg/card.svg'), url('/resources/jpg/snow_texture_256x256.jpg');
    background-repeat: no-repeat, repeat;
    background-size: 100%, auto;
    */
    
    /*display: inline-block;*/

    border-radius: 8.333% / 6.25%;

    /* vertical-align: middle; */
    /*padding: 1em;*/
}

.transition_deal {
    transition-duration: 1.5s, 1.5s;
    transition-timing-function:cubic-bezier(.6,-0.5,.25,1.5), cubic-bezier(.6,-0.5,.25,1.5);
}

.transition_norm {
    transition-duration: 1s, 1s;
    transition-timing-function: cubic-bezier(.5,1,.5,1), cubic-bezier(.5,1,.5,1);
}

.transition_fast {
    transition-duration: 0.35s, 0.35s;
    transition-timing-function: linear, linear;
}

section {
    border:dotted 1px red;
}
.diamonds, .hearts {
    color:red;
    /*text-shadow: 1px 1px 2px darkred;*/
}
.spades, .clubs {
    color:black;
    /*text-shadow: 1px 1px 2px darkgrey;*/
}
.playable {
    border: 2px red solid;
}
.selected, .tableau {
    border: 2px green solid;
}
.card.selected {
    /*opacity: 0.95;*/
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #m_game {
        /*font-size: 12px;*/
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #m_game button {
        font-size: 14px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #m_game button {
        font-size: 18px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #m_game button {
        font-size: 22px;
    }
    .card {
        box-shadow: 2px 2px 4px black;
    }
}

.danger-very-low {
    background-color: #BBEE90;
}

.danger-low {
    background-color: #BBDD85;
}

.danger-moderate {
    background-color: #BBCC80;
}

.danger-high {
    background-color: #FFEE30;
}

.danger-very-high {
    background-color: #FFCC00;
}

.danger-extreme {
    background-color: #FF9920;
}

.danger-critical {
    background-color: #FF5540;
}

.game-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.game-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.game-col, .game-col-main {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.game-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.game-col-main {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
