#m_game {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    
    background-image: url('/resources/jpg/dark_pattern256x256.jpg');
    background-repeat: repeat;
    background-size: auto;
}

.placeholder {
    background-color:grey;
}
.pile {
    background-color:blue;
}
.base {
    background-color:darkblue;
}
.cell {
    border: 1px blanchedalmond solid;
}

.card {
    /*opacity: 0.85;*/
    transition-property: left, top;

    background-color: antiquewhite;
    background-image: url('/resources/svg/card.svg'), url('/resources/jpg/snow_texture_256x256.jpg');
    background-repeat: no-repeat, repeat;
    background-size: 100%, auto;
    
    /*display: inline-block;*/

    border: 2px solid darkgray;
    border-radius: 8px;

    vertical-align: middle;
    /*padding: 1em;*/
}

.transition_deal {
    transition-duration: 1.5s, 1.5s;
    transition-timing-function:cubic-bezier(.6,-0.5,.25,1.5), cubic-bezier(.6,-0.5,.25,1.5);
}

.transition_norm {
    transition-duration: 1s, 1s;
    transition-timing-function: cubic-bezier(.5,1,.5,1), cubic-bezier(.5,1,.5,1);
}

.transition_fast {
    transition-duration: 0.35s, 0.35s;
    transition-timing-function: linear, linear;
}

section {
    border:dotted 1px red;
}
.diamonds, .hearts {
    color:red;
}
.spades, .clubs {
    color:black;
}
.playable {
    border: 2px red solid;
}
.selected, .tableau {
    border: 2px green solid;
}
.card.selected {
    /*opacity: 0.95;*/
}
